* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: 1px dotted red; */
	font-family: Ubuntu;
}

body {
	background: #232931;
}
hr {
	border: 1px solid #adadad;
	width: 100%;
	border-radius: 2rem;
}

#loginForm {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.alert-box-dialog {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	padding: 10px 20px;
	border-radius: 1rem;
	border-left: 5px solid rgb(207, 0, 0);
	background-color: #ff9f9fe8;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	font-size: 0.9rem;
	color: #000000;
	width: 90%;
}

#loginForm {
	.max-width {
		width: 60%;
		height: 70%;
		position: absolute;
		margin: auto;
		top: auto;
		background: #fff;
		border-radius: 10px;
		box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
		border-radius: 30px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
	}
	.left-side {
		background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0.5634628851540616) 100%
			),
			url("../images/login.jpg") no-repeat center center/cover;
		width: 100%;
		height: 100%;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}
	.right-side {
		width: 100%;
		height: 100%;
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		gap: 30px;
	}
	.logo-container {
		width: 100%;
		height: 6%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 10px;
	}
	.logo-container img {
		width: fit-content;
		height: 100%;
		object-fit: contain;
	}
	.logo-container .title {
		font-size: 1.2rem;
		font-weight: 600;
		color: #232931;
	}
	.heading-wrapper {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 25px;
		flex-direction: column;
	}
	.heading-wrapper h1 {
		font-size: 2rem;
		font-weight: 600;
		color: #232931;
	}
	.heading-wrapper p {
		font-size: 1rem;
	}
	.login-form {
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		justify-content: center;
		width: 70%;
	}
	.input-field {
		width: 100%;
		padding: 1px 20px;
		border: none;
		border-radius: 25px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 10px;
		position: relative;
		border: 1px solid #232931;
	}
	.input-field input {
		width: 100%;
		height: 100%;
		border: none;
		outline: none;
		background: none;
		font-size: 1rem;
		color: #232931;
		padding: 10px 5px;
	}
	.input-field input:focus + .placeholder,
	.input-field input:not(:placeholder-shown) + .placeholder {
		transform: translateY(-25px) translateX(-10px);
		font-size: 0.8rem;
		color: #bf4f51;
	}
	.input-field i {
		font-size: 1.2rem;
		color: #999999;
	}
	.placeholder {
		font-size: 1rem;
		position: absolute;
		left: 50px;
		background-color: #fff;
		transition: all 0.3s ease-in-out;
		padding: 5px;
		pointer-events: none;
		color: #999999;
	}
	.forget-link {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		font-size: 0.9rem;
	}
	.forget-password,
	.signup-link {
		font-size: 1rem;
		color: #bf4f51;
		text-decoration: none;
		font-weight: 600;
	}

	.login-btn {
		width: 100%;
		padding: 10px;
		border: none;
		border-radius: 25px;
		background-color: #bf4f51;
		color: #fff;
		font-size: 1rem;
		font-weight: 600;
		cursor: pointer;
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	}
	.password-show {
		border: none;
		background: none;
		outline: none;
		cursor: pointer;
	}
	.social-login {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 50px;
		width: 100%;
	}
	.social-login a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: #bf4f51;
		color: #fff;
		font-size: 1.2rem;
		text-decoration: none;
		padding: 5px;
	}
	.create-account {
		font-size: 0.9rem;
		color: #232931;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 15px;
		flex-direction: column;
	}
}
.custom-checkbox-box {
	width: 15px;
	height: 15px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-family: "Font Awesome 5 Duotone";
	transition: all 0.3s ease-in-out;
	border: 2px solid #bf4f51;
}

.custom-checkbox:checked + .custom-checkbox-box {
	background-color: #bf4f51;
}

.custom-checkbox:checked + .custom-checkbox-box::before {
	content: "\f00c";
	font-size: 0.8rem;
	color: #ffffff;
	font-weight: 700;
}
input[type="checkbox"] {
	display: none;
}
.custom-checkbox-label {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}
