@import 'css';

body {
  display: flex;
  flex-direction: row;
  font-family: var(--font-family);
  position: relative;
}

.left-side {
  width: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/bg-stars.svg);
  background-color: hsl(237, 18%, 59%);
}

.top {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.logo {
  height: 50px;
  aspect-ratio: 1/1;
  margin-right: 1rem;
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/bg-stars.svg);
  height: 100vh;
  width: 820px;
  background-color: hsl(235, 16%, 14%);
  color: hsl(0, 0%, 100%);
}

.no-id {
  font-size: 20px;
  margin-bottom: 2rem;
  font-weight: bold;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(345, 95%, 68%);
  border-radius: 50px;
  width: 120px;
  height: 47px;
  box-shadow: 0 0 0 rgba(255, 0, 0, 0);
  transition: box-shadow 0.3s ease-in-out;
  scale: 1;
  transition: scale 0.2s ease;
  border: none;
  color: #fff;
  margin-top: 1.5rem;
}

.button:hover {
  scale: 0.9;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#showpass {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  right: 65rem;
  width: 16px;
  height: 16px;
  aspect-ratio: 1/1;
  top: 23.8rem;
}

.email,
.password,
.field {
  display: block;
  position: relative;
  width: 300px;
  height: 30px;
  color: hsl(318, 60%, 16%);
  font-weight: bold;
  padding: 0.3rem;
  font-family: var(--font-family);
  background: linear-gradient(to right, hsl(345, 96%, 68%), hsl(345, 96%, 68%))
    bottom no-repeat;
  background-size: 0% 2px;
  background-position: 50% 100%;
  border: none;
  border-bottom: 1px solid black;
  transition: border-bottom 1s ease;
  transition: background-size 0.5s ease;
  letter-spacing: 0.15em;
  margin-bottom: 1.5rem;
}

.email:focus-within,
.password:focus-within,
.field:focus-within {
  background-size: 100% 2px;
  transition: background-size 0.5s ease;
  border: none;
}

.email,
.password:focus-within,
.field:focus-within {
  outline: none;
}

.field {
  color: rgb(92, 219, 143);
}

.password.clicked #showpass {
  opacity: 1;
}

.overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(10, 9, 9, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img {
  cursor: pointer;
  position: relative;
  left: 25rem;
}

.overlay.click {
  visibility: visible;
  transition: visibility 0.3s ease;
}

.popUp {
  opacity: 0;
  transform: translateX(-500%);}

.popUp.active {
  opacity: 1;
  transform: translate(0);
  transition: all 0.3s ease;
}

.img.clicked.popUp {
  opacity: 0;
  transition: display 0.3s ease;
}

.img.clicked .overlay {
  visibility: hidden;
  transition: visibility 0.3s ease;
}
