* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: 'Fira Sans', sans-serif;
  --btn-color: #007aff;
  --gggle-color: #333333;
  --text-color: #000000ad;
  --input-box: #f2f2f2;
}

body {
  font-family: var(--font-family);
  overflow: hidden;
}

h1 {
  font-size: 1.5rem;
  padding: 1rem 0;
  color: #000;
  text-transform: capitalize;
}

p{
  font-size: 14px;
}

a {
  text-decoration: none;
  font-size: 15px;
  margin-top: 1rem;
  text-transform:capitalize;
  font-weight: bold;
}

.btn {
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 600;
  color: var(--input-box);
  font-size: 14px;
  border: none;
  width: 386px;
  height: 45px;
  font-family: var(--font-family);
  margin-top: 1.5em;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.button {
  background-color: var(--btn-color);
}

.btn:hover {
  transform: scale(0.98);
  transition: transform 0.3s ease-in-out;
}
